# Avaliação I - Individual

## Atividade - Introdução ao NumPy e Pandas

## Questões

1. Explique, com suas palavras, a diferença de *NumPy* e *Pandas*:

R. Numpy é uma biblioteca que possui foco em **operações matemáticas** e **arrays multidimensionais** no *Python*. Muito utilizada para computação científica, análises estatísticas e etc. <br>
Já o Pandas é uma biblioteca feita para **manipulação e análise de dados**, têm seu foco em dados estruturados como: *planilhas, csv's ou banco de dados*, é ideal para análise exploratória desses dados.

2. O que é um *DataFrame* e *series* no Pandas?

R. 
- **Series**: Estrutura unidimensional do Pandas, semelhante a um vetor ou coluna de uma tabela. Cada elemento possui um índice, facilitando operações e acesso aos dados. Pode conter qualquer tipo de dado (números, textos, datas).

- **DataFrame**: Estrutura bidimensional, semelhante a uma planilha ou tabela de banco de dados. Possui linhas e colunas, onde cada coluna é uma Series. Permite manipulação, análise, filtragem, agregação e visualização de dados de forma eficiente e intuitiva.

In [3]:
import numpy as np
import pandas as pd

3. Usando o Pandas, crie um DataFrame com os seguintes dados:

| Nome   | Idade | Cidade     |
|--------|-------|------------|
| Ana    | 25    | SP         |
| Bruno  | 30    | RJ         |
| Carlos | 22    | MG         |

In [6]:
## Dataframe a partir de um arquivo csv

dataframe = pd.read_csv('data/pessoas.csv')
dataframe.head(3)

     nome  idade cidade
0     Ana     25     SP
1   Bruno     30     RJ
2  Carlos     22     MG

In [7]:
## Dataframe a partir de um dicionário python (em memória)

data = {
    'nome': ['Ana', 'Bruno', 'Carlos'],
    'idade': [25, 30, 22],
    'cidade': ['SP', 'RJ', 'MG']
}

dataframe_inmemory = pd.DataFrame(data)
dataframe_inmemory.head(3)

     nome  idade cidade
0     Ana     25     SP
1   Bruno     30     RJ
2  Carlos     22     MG

4. Usando o NumPy, crie um array com os valores [10, 20, 30, 40] e calcule a média desses números:

In [8]:
mean = np.array([10, 20, 30, 40]).mean()
print(mean)

25.0